<div class="btn-group btn-group-lg btn-group-justified" role="group" aria-label="Actions">
    <a href="#" class="btn btn-primary" title="Export as PDF" aria-label="Export as PDF">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
    </a>
    {% if is_multi_granted(['OWNER', 'EDIT'], list) %}
        <a href="{{ path('category_create', { listId: list.id }) }}" class="btn btn-primary" title="Create a category" aria-label="Create a category">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
    {% endif %}
</div>
