{% if is_multi_granted(['ONWER', 'EDIT'], category.list) %}
    <a href="{{ path('category_edit', { id: category.id }) }}" class="btn btn-primary">Edit</a>
    <button class="btn btn-primary js-cat-delete">Delete</button>
    <a href="{{ path('gift_create', { catId: category.id }) }}" class="btn btn-primary">Create a gift</a>
{% endif %}
{% if is_granted('SURPRISE_ADD', category.list) %}
    <a href="{{ path('gift_create', { catId: category.id, surprise: true }) }}" class="btn btn-primary">Create a surprise gift</a>
{% endif %}
