<IfModule mod_rewrite.c>
Options +FollowSymlinks
RewriteEngine On

RewriteRule ^list/([A-za-z0-9]+)$ list_show.php?slug=$1 [L]
RewriteRule ^list/pdf/list_([A-za-z0-9]+)$ pdf_list_show.php?slug=$1 [L]
</IfModule>
