<?php
if (! defined('BESTWISHES')) {
	exit;
}

/* BESTWISHES INFO */
$bwName = 'BestWishes';
$bwLang = 'en';
// Application URL ( http://domain.tld/path/to/your/application ) without the ending "/", leave empty for auto-detection
$bwURL  = '';

/* DATABASE INFO */
$confDBType    = 'mysql';
$confDBServer  = 'localhost';
$confDBName    = 'bestwishes';
$confDBPrefix  = '';
$confDBUser    = 'root';
$confDBPasswd  = '';
$confDBPort    = '3306';

?>