body {
	font-family : "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-weight : normal;
	font-size : 14px;
	color: #ffffff;
	background-color: #9BB282;
	list-style-type: square;
	margin-top: 1px;
	margin-left: 1px;
	padding: 0px;
}

h1 {
	font-weight: bold;
	font-size: 18px;
	margin-top: 2px;
	margin-bottom: 2px;
}

h2 {
	font-weight: bold;
	font-size: 16px;
	margin-top: 1px;
	margin-bottom: 2px;
}

h3 {
	font-weight: bold;
	font-size: 18px;
	margin-top: 1px;
	margin-bottom: 2px;
}

ul {
	border-left: 1px;
	margin-left: 1px;
}

li {
	border-left: 1px;
	margin-left: 1px;
}

img {
	border: 0px;
}

a {
	color: #ffffff;
	text-decoration: none;
}

/* Blocks */

#global {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#left_menu {
	width: 170px;
	min-height: 200px;
	float: left;
}

#right_content {
	min-height: 200px;
	margin-left: 190px;
	max-width: 750px;
	min-width: 500px;
	float: left;
}

#header {
	text-align: center;
	width: 100%;
}

#footer {
	margin-top: 15px;
	font-size : 10px;
	text-align: center;
}


/* Classes */

.border-collapsed {
	border-collapse: collapse;
}

.border-collapsed th, .border-collapsed td {
	border: 1px solid #72b42d;
}

.border-collapsed th {
	padding: 4px;
}

.border-collapsed td {
	padding: 1px;
}

.no-border {
	border-collapse: collapse;
}

.no-border td {
	border: 0
}

.copyright {
	font-weight: normal;
	font-size: 10px;
}

.smaller {
	font-weight: normal;
	font-size: 10px;
}

.errorinfo {
	font-weight : bold;
	color: #FF0000;
}

.addinfo {
	font-weight : bold;
	color: #FFFF00;
}

.clickable {
	cursor: pointer;
}

.selectedCat {
	padding: 2px;
	border: 2px dotted #72B42D;
	background-color: #BAFF75;
	color: #285C00;
}

.selectedGift {
	padding: 2px;
	border: 2px solid #72B42D;
	background-color: #BAFF75;
}

.floatingIcon {
	float: left;
	margin-right: 0.3em;
}

/* Admin */

#tab-add-list label {
	width:150px;
	float: left;
}

/* List */

#gift_details_buy h4 {
	text-align: center;
}

.gift_name {
	cursor: pointer;
}

.category_name {
	font-size: 105%;
	font-weight: bold;
	/*height: 24px;*/
	line-height: 24px;
}

.gift_list_element {
	font-size: 105%;
	/*height: 24px;*/
	line-height: 24px;
	margin: 2px;
}

.category_list_element {
	margin-top: 5px;
}

#gift_actions_menu {
	font-size: 100%;
}

/*
.bought_gift {
	background-color: #
}*/

.received_gift {
}

.list_action_link {
	font-size: 105%;
	height: 24px;
	line-height: 24px;
}

.gift_status {
	float: right;
	margin-left: 0.3em;
}

.bought_gift {
	text-decoration: line-through;
	font-style: italic;
}

#possible_actions div.action_element{
	margin-top: 3px;
	margin-bottom: 3px;
}

/* Specific elements */

img.icon_text {
	vertical-align: middle;
}

#comment {
	border:1px solid #ffffff;
}

#flash_message {
	z-index: 20;
	width: 100%;
	height: 20px;
	position: fixed;
	display: none;
	top: 0px;
	left: 0px;
}
