{% extends "@FOSUser/layout.html.twig" %}

{% block title %}{{ 'security.login.lost_password.title'|trans }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ 'security.login.lost_password.title'|trans }}</h1>
        {% block fos_user_content %}
            {% include "@FOSUser/Resetting/request_content.html.twig" %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}
