{% extends 'base.html.twig' %}

{% block title %}{{ 'resetting.request.check_email.title'|trans }}{% endblock %}

{% block content %}
    <div class="container">
        {% trans with {'%tokenExpiration%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle'), '%passwordRequestLink%': path('app_forgot_password_request')} %}resetting.request.check_email.content{% endtrans %}
    </div>
{% endblock %}
