{% extends 'base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <p>
        Cupcake ipsum dolor. Sit amet cupcake croissant. Biscuit sugar plum chocolate cake lemon drops cake jelly-o. Toffee macaroon ice cream biscuit. Cake cake dessert brownie donut cotton candy cupcake gummies. Cheesecake gingerbread chocolate cake. Biscuit chocolate bar jujubes marshmallow tart gingerbread caramels. Pastry fruitcake biscuit halvah icing lollipop tootsie roll chupa chups powder. Powder muffin cotton candy. Chocolate jelly beans sweet.
    </p>
    <p>
        Ice cream oat cake lemon drops cake carrot cake pie chocolate bar lemon drops lemon drops. Sugar plum sesame snaps halvah fruitcake sweet croissant bear claw dragée. Tiramisu dessert pastry sugar plum bear claw cheesecake. Liquorice jelly-o tart chocolate cake candy canes sugar plum. Danish cupcake donut tootsie roll brownie marzipan jelly-o tootsie roll. Toffee jujubes gummi bears lollipop sweet powder sugar plum biscuit. Ice cream chocolate bar sugar plum chocolate toffee cupcake. Sesame snaps toffee powder ice cream. Gummi bears oat cake brownie chocolate ice cream chocolate bar toffee. Bear claw cookie topping croissant cake gummies.
    </p>
{% endblock %}
