parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"
    database_prefix:   ''
    # This is your database server version
    database_server_version:   5.6

    # Locale to use (currently only "en" or "fr" are available)
    locale: en

    # Mailer configuration for mail alerts and password resets
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       25
    mailer_user:       ~
    mailer_password:   ~
    mailer_encryption: ~

    # Global e-mail from: address and name
    global_from_email_address:  mysite@example.com
    global_from_email_name:     "Bw Admin"

    # A secret key that's used to generate certain security-related tokens
    secret:            PleaseChangeThisSecretToken
    # Site name, leave defaults to show support ;)
    site_name: BestWishes
