{# messages types <-> classes association #}
{% set messagesTypes = {'success': 'success', 'notice': 'success', 'error': 'danger'} %}

{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashBag.all() %}
        {% for message in messages %}
            <div class="alert alert-dismissible alert-{{ messagesTypes[type] }}">
                <button type="button" class="close" data-bs-dismiss="alert" aria-label="{{ 'global.close'|trans }}"></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
