{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block content %}
    <div class="container">
        <h1>Just a test page</h1>

        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Prochain évènement : anniversaire : 1 jour
        </div>
        ou
        <div class="alert alert-warning">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Prochain évènement : anniversaire : 10 jours
        </div>
        ou
        <div class="alert alert-info">
            Prochain évènement : anniversaire : 255 jours
        </div>

        <ul class="list-group" id="cat-list">
            <li class="list-group-item">
                <span class="badge">14</span>
                Catégorie 1
            </li>
            <li class="list-group-item">
                <span class="badge">2</span>
                Catégorie 2
            </li>
            <li class="list-group-item">
                <span class="badge">1</span>
                Catégorie 3
            </li>
        </ul>


        <ol class="breadcrumb">
            <li><a href="#">Liste 1</a></li>
            <li class="active">Catégorie 1</li>
        </ol>
        <div class="panel panel-primary  hide" id="cat-content">
            <div class="panel-heading">
                <h3 class="panel-title">Catégorie 1</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group" id="cat-list">
                    <li class="list-group-item">
                        Cadeau 1
                    </li>
                    <li class="list-group-item">
                        Cadeau 2
                    </li>
                    <li class="list-group-item list-group-item-success">

                        <span class="glyphicon glyphicon-ok"></span> Cadeau 3
                        <a href="#" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></a>
                    </li>
                </ul>
            </div>
        </div>

        <ol class="breadcrumb">
            <li><a href="#">Liste 1</a></li>
            <li><a href="#">Catégorie 1</a></li>
            <li class="active">Nom du cadeau</li>
        </ol>
        <h1>Nom du cadeau</h1>
        <p>Détails</p>
        <button class="btn btn-default">Marquer comme acheté</button>
        <button class="btn btn-default">Marquer comme reçu</button>

    </div>


    <script type="text/javascript">
        $(document).ready(function() {
            $('#cat-list .list-group-item').click(function() {
                $('#cat-content').toggleClass('hide');
            })
        });
    </script>
{% endblock %}
