@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "bootswatch";

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";

html,
body {
  height: 100%;
}
body {
  padding-top: 60px;
}
body.pdf {
  padding-top: 10px;
}

div.pdf {
  padding-bottom: 10px;
}

h3.pdf {
  margin-top: 0.4rem;
  margin-bottom: 0.6rem;
}

div.pdf p {
  margin-bottom: 0.1rem;
  font-style: italic;
}

label.form-control-label.required:after {
  content:" *";
  color:red;
}
