{% extends 'base_admin.html.twig' %}



{% block title %}Lists{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">(admin)</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_lists') }}">Lists</a></li>
            <li class="breadcrumb-item active">Rights</li>
        </ol>

        <h1>Lists rights management</h1>

        {% for list in lists %}
            {% include 'admin/lists_rights_table.html.twig' %}
        {% endfor %}
        <p><i>* owner can only be changed on the list edition page</i></p>

    </div>
{% endblock %}

{% block javascripts_footer %}
    {{ encore_entry_script_tags('manage_rights') }}
{% endblock %}
