{% extends 'base_admin.html.twig' %}

{% block title %}User Edit{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">(admin)</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_users') }}">Users</a></li>
            <li class="breadcrumb-item active">Edit</li>
        </ol>
        {%- include 'default/flash_messages.html.twig' -%}

        <h1>User edit: {{ user.name }}</h1>

        {{ form(form) }}

    </div>
{% endblock %}
