{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <button type="submit" class="btn-default btn">{{ 'change_password.submit'|trans }}</button>
    </div>
{{ form_end(form) }}
