{% extends "FOSUserBundle::layout.html.twig" %}

{% block content %}
    <div class="container">
        {% block fos_user_content %}
            <h1>Change your password</h1>
            {% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}