{% extends 'base_admin.html.twig' %}

{% block title %}New User{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">(admin)</a></li>
            <li class="breadcrumb-item"><a href="{{ path('admin_users') }}">Users</a></li>
            <li  class="breadcrumb-item active">New</li>
        </ol>
        {%- include '@App/default/flash_messages.html.twig' -%}

        <h1>New user</h1>

        {{ form(form) }}

    </div>
{% endblock %}
