{% extends 'base_admin.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}User Edit{% endblock %}

{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">(admin)</a></li>
            <li><a href="{{ path('admin_users') }}">Users</a></li>
            <li class="active">Edit</li>
        </ol>
        {%- include '@App/default/flash_messages.html.twig' -%}

        <h1>User edit: {{ user.name }}</h1>

        {{ form(form) }}

    </div>
{% endblock %}
