{% set attrib = gift.surprise ? ['OWNER', 'EDIT', 'SURPRISE_ADD'] : ['OWNER', 'EDIT'] %}
<div class="btn-group btn-group-lg btn-group-justified" role="group" aria-label="Actions">
    {% if is_multi_granted(attrib, gift.category.list) %}
        <a href="{{ path('gift_edit', { id: gift.id }) }}" class="btn btn-primary" title="Edit" aria-label="Edit">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </a>
        <div class="btn-group btn-group-lg" role="group">
            <button class="btn btn-primary js-gift-delete" title="Delete" aria-label="Delete">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </div>
    {% endif %}
    {% if is_granted('SURPRISE_ADD', gift.category.list) %}
        <div class="btn-group btn-group-lg" role="group">
            <button class="btn btn-primary js-gift-mark-bought" title="Mark as bought" aria-label="Mark as bought">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </button>
        </div>
    {% endif %}
    {% if is_multi_granted(attrib, gift.category.list) %}
        <div class="btn-group btn-group-lg" role="group">
            <button class="btn btn-primary js-gift-mark-received" title="Mark as received" aria-label="Mark as received">
                <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
            </button>
        </div>
    {% endif %}
</div>
