name: Javascript

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    name: Build with Javascript
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8.3
    - name: Install PHP dependencies (for FOS)
      run: composer install --prefer-dist --no-progress

    - uses: bahmutov/npm-install@v1

    - name: Install JS dependencies
      run: yarn install

    - name: Check for JS security advisories
      run: yarn audit
