name: PHP Composer

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    name: Build and test with PHP ${{ matrix.php-version }}
    strategy:
      fail-fast: false
      matrix:
        php-version: ["8.3", "8.4", "8.5"]

    runs-on: ubuntu-latest
    env:
      DS_PHP_VERSION: ${{ matrix.php-version }}

    steps:
    - uses: actions/checkout@v5

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-version }}

    - name: Validate composer.json and composer.lock
      run: composer validate --strict

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v4
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ matrix.php-version }}-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.php-version }}-php-

    - name: Install PHP dependencies
      run: composer install --prefer-dist --no-progress

    - name: Check for PHP security advisories
      run: composer audit

    - name: Run phpstan
      run: vendor/bin/phpstan analyse -l 6 src

    - name: Run test suite
      run: vendor/bin/phpunit
